<div class="card mt-3 mx-3">
  <div class="card-body">
    <h2 class="card-title">Login</h2>
    <form class="form login-form">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email-login"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-group mt-3">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>
<div>
  <div class="card mt-3 mx-3">
    <div class="card-body">
      <h2 class="card-title">Signup</h2>
      <form class="form signup-form">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="username-signup"
            placeholder="User Name"
          />
          <label for="floatingInput">User Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email-signup"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="password-signup"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./assets/login.js"></script>