{{#each posts as |post|}}
  <div class="card">
    <h2 class="card-title">{{post.title}}</h2>
    <a href="/users/{{post.user.username}}">
      <h6 class="card-subtitle mb-2 text-muted">{{post.user.username}}</h6>
    </a>
    <div class="card-body">
      {{post.body}}
    </div>
  </div>
{{/each}}